# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# Local development
.env
.venv
venv/
ENV/
vendor/
node_modules/
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
webhooks.json

# Keep XML files in git
!public/feeds/*.xml
